body{
    font-family: 'Times New Roman', Times, serif;
    color: #623422;
    background-color: #cebaaf;
    margin: 0;
    padding: 0;
}

.form-container{
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #a8806e;
    border-radius: 8px;
}

.form-input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #623422;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    background-color: rgb(219, 153, 126);
}

.produtos{
    border-color: #924121;
    border-radius: 20px;
}

.form-submit-bnt{
    color: #522615;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit-bnt1{
    color: #55220d;
    padding: 12px 20px;
    border-radius: 500px;
}

.label{
    display: block;
    color: #623422;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea{
    width: 25%;
    padding: 2px;
    border: 1px solid #522615;
    border-radius: 25px;
    box-sizing: border-box;
}

